header.carousel {
  height: 300px !important; }

.navbar-inverse {
  background-color: #e2e2e2 !important;
  border: none !important; }

#custom-search-input {
  margin-top: 10px;
  padding: 0; }

#logo.logo-ancho {
  width: 200px;
  height: auto; }

.search-query:focus + button {
  z-index: 3; }

body {
  box-sizing: border-box;
  margin: 0; }

nav#menu-principal ul li a {
  height: 50px !important;
  padding: 18px 0 12px 0 !important;
  display: block !important;
  border-right: 1px solid #e6e6e6 !important;
  border-bottom: 2px solid #bdc9d1 !important;
  color: #000000;
  font-size: 12px !important; }

nav#menu-principal ul li.current-menu-ancestor a {
  color: #0f69b4;
  border-bottom: 2px solid #0f69b4 !important; }

nav#menu-principal ul li a:hover {
  color: #0f69b4;
  border-bottom: 2px solid #0f69b4 !important; }

.navbar .navbar-nav {
  display: inline-block;
  float: none; }

.navbar {
  background: #ffffff;
  border-radius: 0px !important; }

.navbar .navbar-collapse {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px; }

.barra {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1000;
  top: 299px; }

@media only screen and (min-width: 320px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

@media only screen and (min-width: 480px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

@media only screen and (min-width: 992px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

.footer-observatorio-ucn {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #dbd7d2;
  height: 200px !important; }
