header.carousel {
  height: 300px !important; }

.cover {
  height: 200px;
  width: 100%;
  border: 2px solid white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.contain {
  height: 200px;
  width: 100%;
  border: 2px solid white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

#myCarousel {
  margin-top: -20px; }

@font-face {
  font-family: 'gobCL';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gobcl_light.eot?") format("eot"), url("../fonts/gobcl_light.woff") format("woff"), url("../fonts/gobcl_light.ttf") format("truetype"); }

@font-face {
  font-family: "gobCL";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/gobcl_regular.eot?") format("eot"), url("../fonts/gobcl_regular.woff") format("woff"), url("../fonts/gobcl_regular.ttf") format("truetype"); }

@font-face {
  font-family: "gobCL";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/gobcl_bold.eot?") format("eot"), url("../fonts/gobcl_bold.woff") format("woff"), url("../fonts/gobcl_bold.ttf") format("truetype"); }

@font-face {
  font-family: "gobCL";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/gobcl_heavy.eot?") format("eot"), url("../fonts/gobcl_heavy.woff") format("woff"), url("../fonts/gobcl_heavy.ttf") format("truetype"); }

.gobcl {
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif; }

.opensans {
  font-family: "Open Sans", sans-serif; }

.georgia {
  font-family: Georgia, Times, "Times New Roman", serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif; }

h1 {
  font-size: 60px;
  line-height: 1.4em;
  font-weight: 500; }

h2 {
  font-size: 45px;
  line-height: 1.1em;
  font-weight: 500; }

h3 {
  font-size: 32px;
  line-height: 1.1em;
  font-weight: 500; }

h4 {
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 500; }

h5 {
  font-size: 18px;
  line-height: 1em;
  font-weight: 500; }

h6 {
  font-size: 14px;
  line-height: 1em;
  font-weight: 700; }

p {
  margin: 0 auto 15px;
  font-size: 14px; }

a.boton {
  width: 100%;
  display: block;
  background: #efefef;
  border-bottom: 2px solid #bdc9d1;
  padding: 14px 15px 8px;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif; }

a.boton:hover {
  color: #fff;
  background: #0f69b4;
  border-bottom: 2px solid #045282; }

.navbar-inverse {
  background-color: #e2e2e2 !important;
  border: none !important; }

#custom-search-input {
  margin-top: 10px;
  padding: 0; }

#logo.logo-ancho {
  width: 200px;
  height: auto; }

.search-query:focus + button {
  z-index: 3; }

body {
  box-sizing: border-box;
  margin: 0; }

nav#menu-principal ul li a {
  height: 50px !important;
  padding: 18px 0 12px 0 !important;
  display: block !important;
  border-right: 1px solid #e6e6e6 !important;
  border-bottom: 2px solid #bdc9d1 !important;
  color: #000000;
  font-size: 12px !important; }

nav#menu-principal ul li.current-menu-ancestor a {
  color: #0f69b4;
  border-bottom: 2px solid #0f69b4 !important; }

nav#menu-principal ul li a:hover {
  color: #0f69b4;
  border-bottom: 2px solid #0f69b4 !important; }

.navbar .navbar-nav {
  display: inline-block;
  float: none; }

.navbar {
  background: #ffffff;
  border-radius: 0px !important; }

.navbar .navbar-collapse {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px; }

.barra {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1000;
  top: 299px; }

.fondocontenidos-bienvenido {
  margin-top: 20px; }
  .fondocontenidos-bienvenido h3 {
    color: #475155; }
  .fondocontenidos-bienvenido p {
    text-align: justify; }

.footer-observatorio-ucn {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #dbd7d2;
  height: 200px !important; }

.tarjeta-noticias {
  background: #FFF; }
  .tarjeta-noticias p {
    text-align: justify; }

.tarjeta-noticias-imagen {
  width: 100%; }

.tarjeta-noticias-imagen_img {
  background-size: cover;
  width: 100%; }

.tarjeta-noticias-texto {
  padding: 15px 15px; }

.tarjeta-noticias-texto_izquierda {
  float: left;
  width: 300px; }
  .tarjeta-noticias-texto_izquierda a {
    text-decoration: none; }

.tarjeta-noticias-texto_derecha {
  float: right;
  width: 300px; }

.titulo-seccion {
  padding: 20px 10px 0 0; }

.tarjeta-noticias-span {
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 700;
  color: #7a8791;
  display: block;
  font-size: 12px;
  margin: 0 0 15px; }

@media only screen and (min-width: 320px) {
  .barra {
    padding-left: 0px !important;
    padding-right: 0px !important; }
  #logo {
    display: none; } }

@media only screen and (min-width: 480px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

@media only screen and (min-width: 992px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important; }
  #logo {
    display: block; } }

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important; }
  #logo {
    display: block; } }

body {
  background: #f5f5f5; }
